.features {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 16px;
  padding-right: 16px;
  color: black;
}

.features .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.features-top {
  margin-bottom: 40px;
  order: 1;
}

.features-top .inline-flex {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #94a3b8;
  border-radius: 20px;
  margin-bottom: 16px;
  display: inline-flex;
  width: fit-content;
}

.features h2 {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 4px;
}

.features p {
  color: #9ca3af;
  font-size: 18px;
}

.blocks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  justify-content: center;
  order: 2;
}

@media (min-width: 640px) {
  .blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .blocks {
    grid-template-columns: repeat(3, 1fr);
  }
}
