.nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.link {
  font-size: 18px;
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: #c49624;
  font-weight: bold;
}

.user-entry {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .links {
    flex-direction: column;
    gap: 16px;
  }
}
